MYSTEEL_USERNAME=your_username_here
MYSTEEL_PASSWORD=your_password_here
MYSTEEL_DOWNLOAD_DIR=E:\code\steel_price\data

MYSTEEL_MANUAL_DATE=false
MYSTEEL_FORCE_RUN_NON_WORKDAY=false
MYSTEEL_RANDOM_START_ENABLED=true
MYSTEEL_RANDOM_START_MAX_MINUTES=15
